<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="cachorro1" class="com.vct.entities.Cachorro">
        <property name="nome" value="Nevinho"/>
        <property name="raca" value="Lhasa Apso"/>
        <property name="dono" ref="pessoa1"/>
    </bean>

    <bean id="cachorro2" class="com.vct.entities.Cachorro">
        <property name="nome" value="Luke"/>
        <property name="raca" value="Beagle"/>
    </bean>

    <bean id="endereco1" class="com.vct.entities.Endereco">
        <property name="rua" value="Av. Peixe Cavalo"/>
        <property name="bairro" value="Taruma-Acu"/>
        <property name="numero" value="260"/>
    </bean>

    <bean id="pessoa1" class="com.vct.entities.Pessoa">
        <property name="nome" value="Victor"/>
        <property name="sobrenome" value="Dantas"/>
        <property name="email" value="victor@gmail.com"/>
    </bean>


</beans>